
.line-break {
     width: 100%;
}

.playing-card{
     float: left;
     font-size:100px;
}
.CLUB{
     color: black;
}

.SPADE{
     color: black;
}
.DIAMOND{
     color: red;
}

.HEART{
     color: red;
}


.tableRow {
     display: flex;
     letter-spacing: -5px;
     line-height: 100px;
}