.App {
 background-color:darkgreen;
}


.playing-card{
     float: left;
     font-size:50px;
}
.CLUB{
     color: black;
}

.SPADE{
     color: black;
}
.DIAMOND{
     color: red;
}

.HEART{
     color: red;
}